@font-face {
    font-family: HandWritten;
    src: url("../fonts/HandWritten.ttf");
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    box-sizing: border-box;
    font-family: Helvetica;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background: red;
    font-family: "HandWritten";
}

.keybindsWrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.goBack {
    position: fixed;
    top: 1%;
    left: 1%;
    font-size: 2.5vw;
    text-decoration: none;
    color: black;
}

.keybindsList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 40%;
    font-size: 2.5vw;
    color: white;
}

.keybindsTitle {
    font-size: 4vw;
    color: black;
}