* {
    box-sizing: border-box;
}

.author {
    -webkit-text-stroke: 0.05vw rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 3vw;
}

.ballWrap {
    height: 5vw;
    left: 44%;
    position: relative;
    top: 6%;
    width: 5%;
}

.blackSun {
    animation: 1s linear 0s infinite normal none running spin;
    width: 100%;
}

.buttonsWrap {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 16%;
    justify-content: space-evenly;
    width: 63%;
}

.chudjak {
    position: relative;
    width: 18%;
}

.continueButton {
    cursor: pointer;
    font-size: 3.2vw;
}

.countDown {
    -webkit-text-stroke: 0.3vw black;
    align-items: center;
    color: white;
    cursor: none;
    display: flex;
    font-size: 24vw;
    height: 100%;
    justify-content: center;
    opacity: 0;
    position: absolute;
    transition: 1s;
    width: 100%;
    z-index: 1;
}

.currentlyPlaying {
    font-size: 1.2vw;
    font-weight: bold;
    margin: 2% 0px 0px;
    transition: 1s;
}

.enemy {
    opacity: 1 !important;
}

.exit {
    border-radius: 3vw;
    color: black;
    cursor: pointer;
    font-size: 3vw;
    font-weight: bolder;
}

.exitButton {
    cursor: pointer;
    font-size: 1.5vw;
}

.game {
    background-repeat: no-repeat;
    background-size: cover;
    cursor: none;
    height: 50vw;
    overflow: hidden;
    transition: 1s;
    width: 100%;
    z-index: 0;
}

.hideButton {
    cursor: pointer;
    left: 2%;
    position: absolute;
    top: 1.5%;
    width: 1.5%;
    z-index: 3;
}

.mainMenu {
    align-items: center;
    background-image: url("../img/whiteSun.gif");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: absolute;
    transition: 1s;
    width: 100%;
    z-index: 0;
}

.mainMenuButton {
    cursor: pointer;
    font-size: 2vw;
}

.mainWrap {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 25%;
    justify-content: space-between;
    margin-top: 0%;
}

.menuWrap {
    align-items: center;
    background: rgba(255, 255, 255, 0.78);
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    height: 20vw;
    justify-content: space-evenly;
    width: 25%;
}

.musicPlayer {
    align-items: center;
    background: rgba(26, 26, 26, 0.84);
    border-radius: 1vw;
    color: white;
    display: flex;
    flex-direction: column;
    height: 10vw;
    justify-content: space-evenly;
    left: 1%;
    position: fixed;
    top: 1%;
    transition: 1s;
    width: 20%;
    z-index: 2;
}

.options {
    border-radius: 3vw;
    color: black;
    cursor: pointer;
    font-size: 4vw;
    font-weight: bolder;
}

.pauseMenu {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    transition: 0.5s;
    width: 100%;
    z-index: 1;
}

.restartButton {
    cursor: pointer;
    font-size: 2vw;
}

.rewindButton {
    transform: rotate(180deg);
}

.rewindButton, .pauseButton, .forwardButton {
    cursor: pointer;
    width: 15%;
}

.startButton {
    border-radius: 3vw;
    color: black;
    cursor: pointer;
    font-size: 4vw;
    font-weight: bolder;
}

.timeInput {
    margin: -3% 0px 0px;
    width: 81%;
}

.title {
    -webkit-text-stroke: 0.1vw rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 5.5vw;
}

.titleWrap {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: -13%;
}

.transgenderFlag {
    height: 78%;
    opacity: 0;
    transition: 1s;
    width: 84%;
}

.volumeInput {
    width: 32%;
}

.wrap0 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 5vw 5vw 5vw 5vw 5vw;
    height: 25vw;
    place-items: center;
    width: 100%;
}

body {
    align-items: center;
    background: black;
    box-sizing: border-box;
    display: flex;
    font-family: HandWritten;
    height: 100%;
    justify-content: center;
    margin: 0px;
    overflow: hidden;
    padding: 0px;
    user-select: none;
    width: 100%;
}

html {
    height: 100%;
    width: 100%;
}

input[type="range"] {
    appearance: none;
    border-radius: 1vw;
    cursor: grab;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    height: 0.5vw;
    width: 1%;
}

input[type="range"]:active {
    cursor: grabbing;
}

@font-face {
    font-family: HandWritten;
    src: url("../fonts/HandWritten.ttf");
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}